## Loading data into pandas

In [1]:
## this is a simple exercise taken from Keith Galli's video. https://www.youtube.com/watch?v=vmEHCJofslg&ab_channel=KeithGalli

import pandas as pd
import numpy as np

In [2]:
poke = pd.read_csv("pokemon_data.csv")

In [3]:
poke.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

## Reading data in pandas

In [4]:
#read headers
poke.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [5]:
## read each columns
poke['Name'][0:5]
#poke.Name

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [6]:
## read each row
#print(pokemon.iloc[0:4])
#for index, row in pokemon.iterrows():
#    print(index, row['Name'])

## Sorting/describing data

In [7]:
poke.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [8]:
poke.sort_values(["Type 1", "HP"], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

## Making changes to the data

In [9]:
#poke["Total"] = poke["HP"] + poke["Attack"] + poke["Defense"] + poke["Sp. Atk"] + poke["Sp. Def"] + poke["Speed"]

## delete a column
#poke = poke.drop(columns=["Total"])

poke["Total"] = poke.iloc[:, 4:10].sum(axis=1)

In [10]:
poke.head(15)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False,205

In [11]:
poke[poke["Total"]>700]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,770
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
552,493,Arceus,Normal,NaN,120,120,120,120,120,120,4,True,720

## Creating a little game

In [12]:
def who_wins(a,b):
    print(poke["Name"][a] + " and " + poke["Name"][b] + " are fighting!!!")
    print(poke["Name"][a] + "'s power: " + str(poke["Total"][a]))
    print(poke["Name"][b] + "'s power: " + str(poke["Total"][b]))
    if poke["Total"][a] > poke["Total"][b]:        
        return print(poke["Name"][a] + " wins!")
    elif poke["Total"][a] < poke["Total"][b]:
        return print(poke["Name"][b] + " wins!")
    else:
        return print("It's a tie!")

In [13]:
who_wins(384,502)

Kecleon and Drapion are fighting!!!
Kecleon's power: 440
Drapion's power: 500
Drapion wins!

In [14]:
poke.to_csv("modified_pokemon_data.csv")

## Filtering data

In [15]:
x = poke.loc[(poke['Type 1'] == 'Fire') & (poke["Attack"]>=100) & (poke["Legendary"] == False)]
x

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False,555
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False,500
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False,525
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False,530
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False,630
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False,460
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False,560
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False,534
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False,528
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False,480

In [24]:
new_poke_df = poke.loc[(poke["Generation"] == 1) & (poke["Attack"]>=100)]
new_poke_df.reset_index(drop=True, inplace=True)
new_poke_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
1,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
2,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
3,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
4,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495
5,28,Sandslash,Ground,NaN,75,100,110,45,55,65,1,False,450
6,34,Nidoking,Poison,Ground,81,102,77,85,75,85,1,False,505
7,57,Primeape,Fighting,NaN,65,105,60,60,70,95,1,False,455
8,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False,555
9,67,Machoke,Fighting,NaN,80,100,70,50,60,45,1,False,405
10,68,Machamp,Fighting,NaN,90,130,80,65,85,55,1,False,505
11,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
12,76,Golem,Rock,Ground,80,120,130,55,65,45,1,False,495
13,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False,500
14,85,Dodrio,Normal,Flying,60,110,70,60,60,100,1,False,460
15,89,Muk,Poison,NaN,105,105,75,65,100,50,1,False,500
16,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False,325
17,99,Kingler,Water,NaN,55,130,115,50,50,75,1,False,475
18,106,Hitmonlee,Fighting,NaN,50,120,53,35,110,87,1,False,455
19,107,Hitmonchan,Fighting,NaN,50,105,79,35,110,76,1,False,455
20,112,Rhydon,Ground,Rock,105,130,120,45,45,40,1,False,485
21,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,1,False,590
22,123,Scyther,Bug,Flying,70,110,80,55,80,105,1,False,500
23,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
24,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
25,128,Tauros,Normal,NaN,75,100,95,40,70,110,1,False,490
26,130,Gyarados,Water,Flying,95,125,79,60,100,81,1,False,540
27,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False,640
28,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False,525
29,141,Kabutops,Rock,Water,60,115,105,65,70,80,1,False,495
30,142,Aerodactyl,Rock,Flying,80,105,65,60,75,130,1,False,515
31,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False,615
32,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False,540
33,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True,580
34,149,Dragonite,Dragon,Flying,91,134,95,100,100,80,1,False,600
35,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True,680
36,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
37,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
38,151,Mew,Psychic,NaN,100,100,100,100,100,100,1,False,600

In [26]:
## ~ sign means "don't include"
poke.loc[~poke["Name"].str.contains("Mega")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [63]:
## regular expressions
import re
poke.loc[poke["Name"].str.contains("^ch[a-z]", flags=re.I, regex=True)].reset_index()

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
1,5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
2,6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
3,7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
4,8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
5,121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False,450
6,166,152,Chikorita,Grass,NaN,45,49,65,49,65,45,2,False,318
7,184,170,Chinchou,Water,Electric,75,38,38,56,56,67,2,False,330
8,391,358,Chimecho,Psychic,NaN,65,50,70,95,80,65,3,False,425
9,435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False,309
10,467,420,Cherubi,Grass,NaN,45,35,45,62,53,35,4,False,275
11,468,421,Cherrim,Grass,NaN,70,60,70,87,78,85,4,False,450
12,481,433,Chingling,Psychic,NaN,45,30,50,65,50,45,4,False,285
13,489,441,Chatot,Normal,Flying,76,65,45,92,42,91,4,False,411
14,670,609,Chandelure,Ghost,Fire,60,55,90,145,90,80,5,False,520
15,718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False,313
16,720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False,530

## Conditional changes

In [69]:
poke.loc[poke["Total"] > 600, ["Generation","Legendary"]] = ["Test 1", "Test 2"] 
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Test 1,Test 2,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Test 1,Test 2,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Test 1,Test 2,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

## Aggregate Statistics(groupby)

In [72]:
df = pd.read_csv("modified_pokemon_data.csv")

In [81]:
df.groupby(["Type 1"]).mean().sort_values("Attack", ascending=False)

,Unnamed: 0,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,,
Dragon,521.843750,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250
Fighting,400.444444,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444
Ground,392.312500,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,437.500000
Rock,431.840909,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,453.750000
Steel,486.296296,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,487.703704
Dark,507.387097,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935
Fire,360.942308,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,458.076923
Flying,746.500000,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000
Poison,278.285714,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,399.142857
Water,333.312500,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357
Ghost,536.281250,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500
Normal,351.581633,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,401.683673
Grass,380.414286,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,421.142857
Ice,465.666667,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,433.458333
Psychic,420.105263,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,475.947368
Bug,368.072464,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,378.927536
Electric,400.590909,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,443.409091
Fairy,494.529412,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,413.176471

In [86]:
df["count"] = 0
df.groupby(["Type 1","Type 2"]).count()["count"]

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64